.App {
  text-align: center;
  margin-top: 9%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

button:focus {
  outline:0;
}

.inputs{
  outline: none;
  margin-right: 1%;
  height: 50px;
  font-size: 1.8em;
  padding-left: 10px;
  border-radius: 5px;
  width: 500px;
  margin-bottom: 4%;
  border: solid 1px rgba(0,0,0,.2);

}


.cooInput{
  outline: none;
  margin-bottom: 4%;
  height: 50px;
  font-size: 1.8em;
  padding-left: 10px;
  border-radius: 5px;
  width: 90%;
  border: solid 1px rgba(0,0,0,.2);
}
.inputCol{
  margin-bottom: 3%;
}

.inputColButton{
  margin-left: ;
}

.getWeatherButton{
  margin-top: 2%;
  margin-bottom: 5% !important;
  height: 55px;
  font-size: 2em !important;
  width: 250px;


}

.getWeatherButton:hover{
  background-color: #00ACC1 !important;
  box-shadow: 0 2px 15px 1px rgba(0,0,0, 0.3);
  outline: none;
}


.weatherInfo {
  background-color: #767374;
  min-height: 300px;
  text-align: left;
  color: #fff;

}

.weatherInfo h4 {
  padding-left: 3%;
  line-height:2;
  font-size: 1.4em;
  letter-spacing: 0.7px;
   text-shadow: 1px 1px 8px rgba(0,0,0, 0.3)
}

.sky{
  width: 24.4% !important;
  margin-left: 0.5%;
  border-radius: 2%;
  min-height: 300px !important;
  background-image:

  linear-gradient(
    to top,
    #B2EBF2 20%,
    #0097A7 100%
    );
}

.infoText{
   background: rgba(0, 0, 0, 0.1);
   padding-top: 1%;
   padding-bottom: 1%;
}

.col-lg-3, .col-lg-6, .col-md-6{
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.lowClouds1{
  position:absolute;
  bottom: 20px;
  right: 5px;
}

.lowClouds2{
  position:absolute;
  bottom: 40px;
  left: 10px;
}

.lowClouds3{
  position:absolute;
  bottom: 60px;

}

.lowClouds4{
  position:absolute;
  bottom: 75px;
  left: 15px;

}

.mediumClouds1{
  position:absolute;
  bottom: 70px;

}

.mediumClouds2{
  position:absolute;
  bottom: 100px;
  left: 10px;
}

.mediumClouds3{
  position:absolute;
  bottom: 110px;
}

.mediumClouds4{
  position:absolute;
  bottom: 130px;
}

.highClouds1{
  position:absolute;
  bottom: 115px;
  left: 5;
}

.highClouds2{
  position:absolute;
  bottom: 140px;
  left: 10px;
}

.highClouds3{
  position:absolute;
  bottom: 160px;
}

.highClouds4{
  position:absolute;
  bottom: 170px;
}

.sun{
}

.fog{
margin-top: 64%;

}

.sky h4, .sky h5{
  color: #fff;
  letter-spacing: 1px;
}

.departureGrid{
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

}

@-webkit-keyframes fadeInRight {
    0% {
      opacity: 0;
      -webkit-transform: translateX(20px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
      }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
   opacity: 0;
   transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.errMsg{
  margin-top: 5%;
  font-size: 1.5em;
  border-bottom: 1px solid #0097A7;
}
.weatherInfo h2 {
  padding: 2.8%;
  background-color: rgba(0,0,0, .1);
  margin: 0;
  letter-spacing: 0.7px;
  text-shadow: 1px 1px 8px rgba(0,0,0, 0.3)

}
